<a href="https://colab.research.google.com/github/LamaElkhouk/pythonh3hitema/blob/main/exercices_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercices d’algorithmique**
**texte en gras**

**2.1 Condition et produit**

Ecrire un algorithme qui demande deux nombres `a l’utilisateur et l’informe en
suite si leur produit est n´egatif ou positif (on laisse de cˆot´e le cas o`u le produit
est nul). Attention toute fois : on ne doit pas calculer le produit des deux
nombres

In [ ]:
def produit():
    X1 = input("Veuillez entrez un premier nombre :")
    X2 = input("Veuillez entrez un deuxieme nombre : ")  
    prod=int(X1)*int(X2)

    if((int(X1)<0 and int(X2)>0)or(int(X1)>0 and int(X2)<0)):
        print("la valeur des produit des deux nombres est negatif :"+str(prod))
    else:
        print("la valeur des produit des deux nombres est positif :"+str(prod))

#application

produit()

Veuillez entrez un premier nombre :2
Veuillez entrez un deuxieme nombre : -3
la valeur des produit des deux nombres est negatif :-6

**pseudo code associé**

algorithme: addition jusqu'au nombre demandé

variables:

          X1=entier
          X2=entier
          prod= formule, entier

début:

          afficher :"Veuillez entrez un premier nombre :"
          afficher :"Veuillez entrez un deuxieme nombre "
          saisir X1
          saisir X2
          SI ((X1<0 ET X2>0) OU (X1>0 ET X2<0))
              afficher "la valeur des produit des deux nombres est negatif :prod "
          SINON
              afficher "la valeur des produit des deux nombres est positif :prod"
          FINSI
          FIN

**2.2 Additivté**

Ecrire un algorithme qui demande un nombre de d´epart, et qui calcule la somme
des entiers jusqu’`a ce nombre. Par exemple, si l’on entre 5, le programme doit
calculer : 1 + 2 + 3 + 4 + 5 = 15.

In [ ]:
def somme():
    X1 = input("Veuillez entrez un nombre :")
    compteur=0
    tab=[]

    for i in range(0,int(X1)+1):
        compteur+=i
        tab.append(i)
    print("les nombres additionnés :"+str(tab)+" , resultat :"+str(compteur))
#application
somme()

Veuillez entrez un nombre :5
les nombres additionnés :[0, 1, 2, 3, 4, 5] , resultat :15

**pseudo code associé**

algorithme: addition jusqu'au nombre demandé

variables:

          X1=entier
          compteur=entier initialiser a 0
          tab= tableau d'entier initialiser a vide
          

début:

          afficher :"Veuillez entrez un nombre :"
          saisir X1

          POUR compteur allant de 0 à X1+1
              ajouter au compteur les valeur de 0 à X1+1
              ajouter au tableau vide "tab" les valeurs qui vont s'additionné
              afficher "les nombres additionnés : tab, resultat : compteur"
          FINPOUR
          FIN

complexité : O(n)

**2.3 Somme des elements d’un tableau**

Ecrire un algorithme calculant la somme des valeurs d’un tableau (on suppose
bien sur que le tableau a ete prealablement saisi).

In [ ]:
def sommeT(T):
    val=0
    for el in T:
        val+=el
    print(val)

#application
sommeT([2,0,1,4])

7

**pseudo code associé**

algorithme: addition toutes les valeurs du tableau

variables:

          val=entier initialiser à 0
début:

          POUR el dans T
              additionné au compteur val les valeurs el de T
              afficher le resultat de val
          FINPOUR
          FIN
    
complexité: O(n)
---

**2.4 FacProduct**

Toujours `a partir de deux tableaux pr´ec´edemment saisis, ´ecrire un algorithme
qui calcule le ’FacProduct’ des deux tableaux. Pour calculer le ’FacProduct’, il
faut multiplier deux `a deux les ´el´ements des tableaux et additionner le tout (le
resultat final doit donc est un reel).

In [ ]:
def somme2T(T1,T2):
    res=0
    for i in range(len(T1)):
        for j in range(len(T2)):
            res+=T1[i]*T2[j]
    print(res)
#application
somme2T([0,1],[1,1,1])

3

**pseudo code associé**

algorithme: multiplier et additionner deux à deux les toutes les elements des deux tableaux

variables:

          res=entier initialiser à 0
début:

          POUR i allant jusqu'a la fin du T1
              POUR j allant jusqu'a la fin du T2
                  additionné et multiplier les elements deux a deux et les stocker dans res
              FINPOUR
          FINPOUR
          FIN
    
complexité: O(n * m)  car la taille des deux tableaux ne sont pas de la meme taille , O(n^2) si ils sont de la meme taille

**2.5 Le plus grand**

Ecrire un algorithme permettant `a l’utilisateur de renvoyer la plus grande valeur
du tableau passer en input en pr´ecisant quelle position elle occupe dans le
tableau.

In [ ]:
def max(T1):
    valmax=T1[0]

    for num in T1:
        if(num > valmax):
            valmax = num
    print("valeur max : "+str(valmax)+ " a la position " + str(T1.index(valmax)))
#application

max([1,9,2,3])

valeur max : 9 a la position 1

**pseudo code associé**

algorithme: retourne la valeur max d'un tableau en precisant sa position

variables:

          valmax=entier, premiere element du tableau
début:

          POUR num allant dans T1
              SI num > valmax
                  afficher " valeur max : valmax à la position i de valmax"
              FINPOUR
          FINPOUR
          FIN
    
complexité:

**2.6 Plus grand que la moyenne**

Ecrire un algorithme permettant `a l’utilisateur de renvoyer le nombre de valeur
sup´erieures `a la moyenne d’un tableau pass´e en input de taille n.

In [ ]:
def plusgrandquemoyenne():
    T1=[1,5,2,9]
    T2=[]
    cpt=0
    
    for num in T1:
        cpt+=num
    print("la moyenne : "+str(cpt/len(T1)))

    for num in T1:
        if(num>cpt/len(T1)):
            T2.append(num)

    print("on a "+ str(len(T2))+" nombres superieur a la moyenne ")
   

plusgrandquemoyenne()

la moyenne : 4.25
on a 2 nombres superieur a la moyenne

complexité : O(n^2)

**2.7 Multiplier des vecteurs**

Ecrire un algorithme permettant d’effectuer la multiplication de deux vecteurs
de taille N connue `a l’avance et d’afficher le r´esultat.

In [ ]:
u=(1,2)    #u.v=0+2=2
v=(0,1)

def multipliervecteur(u,v):
  L=[]
  res=[]

  L.append(u)
  L.append(v)

  for el in L:
    res=(L[0][0]*L[0][1])+(L[1][0]*L[1][1])

  print(res)

multipliervecteur(u,v)

2

complexité : O(n)

**2.8 Tris**

Ecrire un algorithme permettant de trier un tableau de taille ´ n.

In [ ]:
T=[2,1,9,3,7,1,4,8]
def trier(T):
  for i in range(len(T)-1):
    swap=False
    for j in range(len(T)-i-1):
      if(T[j]>T[j+1]):
        swap=True
        temp=T[j]
        T[j]=T[j+1]
        T[j+1]=temp
      
  print(T)
  
#application

trier(T)

[1, 1, 2, 3, 4, 7, 8, 9]

complexité : O(n^2)

**2.9 Factorielle**

Ecrire un algorithme qui demande un nombre de d´epart, et qui calcule sa
factorielle. On rappel qu’on calcul factorielle n tel que : n! = Q
1in i =
1 × 2 × 3 × . . . × (n − 1) × n.. Par exemple 4! = 1 × 2 × 3 × 4.

In [ ]:
def factorielle(n):
  resultat=1
  L=[]
  for el in range(1,n+1):
    resultat*=el
    L.append(el)

  print(resultat)

factorielle(4)  # 4!= 1 x 2 x 3 x 4  = 24

24

complexité : O(n)

**2.10 La multiplication matricielle**

Ecrire un algorithme qui prend deux matrices carr´ees A et B de taille n et qui
renvoie un ´element ci,j (l’´element de la ligne i colonne j) de la matrice C tel
que, A × B = C.

In [ ]:


def calcul_matrice(A,B):
  C=[ [ 0 for x in range(len(A))] for y in range(len(B))  ] # intialisation de la matrice C ayant la meme taille que la matrice A et B

  for a in range(len(A)): # on parcours les lignes de A
    for b in range(len(B)):# on parcours les ligne de B
      #C[a][b]=0
      for c in range(len(C)):
        #on a besoin d'une troisieme boucle pour le passage a la 2 eme  colonne de B ext..
        C[a][b]+=A[a][c]*B[c][b]
        #print(C[a][b]," = ",A[a][c]," x ", B[c][b])
  return C

         


A = [[0, 1, 2], [0, 0, 0], [1, 1, 1]]
B = [[0, 0, 0], [1, 2, 1], [1, 1, 1]]   
resultat=calcul_matrice(A,B)

print("resultat du calcul = ", resultat)
#solution facile...

import numpy as np
A=np.array([[0, 1, 2], [0, 0, 0], [1, 1, 1]])
B=np.array([[0, 0, 0], [1, 2, 1], [1, 1, 1]])
np.dot(A,B)

resultat du calcul =  [[3, 4, 3], [0, 0, 0], [2, 3, 2]]

array([[3, 4, 3],
       [0, 0, 0],
       [2, 3, 2]])

In [ ]:
A = [[0, 1, 2], [0, 0, 0], [1, 1, 1]]
B = [[0, 0, 0], [1, 2, 1], [1, 1, 1]]  
C=[ [ 0 for x in range(len(A))] for y in range(len(B))  ]
C

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

complexité : O(n^3)

**2.11 Suite de Fibonacci**

La suite de Fibonacci est d´efinit r´ecursivement par F0 = 0 , F1 = 1 et Fn+2 =
Fn+1 + Fn pour n ≥ 0. Ecrire une fonction FIBO(n) qui impl´emente la formule
ci-dessus.

In [ ]:
#resultat suite fibo = 0 1 1 2 3 5 8 13 21 34
def suite_fibo(n):
  T=[]
  el1=1
  eln=0

  
  for i in range(1,n):
    el2=el1+eln
    print("el2=",el2,"el1=",el1,"eln=",eln)
    eln=el1
    el1=el2
    T.append(el2)
  return T

suite_fibo(8)

el2= 1 el1= 1 eln= 0
el2= 2 el1= 1 eln= 1
el2= 3 el1= 2 eln= 1
el2= 5 el1= 3 eln= 2
el2= 8 el1= 5 eln= 3
el2= 13 el1= 8 eln= 5
el2= 21 el1= 13 eln= 8

[1, 2, 3, 5, 8, 13, 21]

In [ ]:
##solution 2 : recursivité

def fnv2(n):
  if n <=1:
    return n
  else:
    return fnv2(n-1)+fnv2(n-2)
fnv2(8)


t = []
for i in range(10):
  t.append(fnv2(i))

print(t)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

complexité : o(n) solution 1
complexité : O(logn) (recursivité)

**2.12 Le temps d’arret**

On admet que H tend vers +∞. Ecrire ´
un algorithme qui d´etermine le plus petit entier n tel que (H) d´epasse un r´eel
α donn´e.

In [ ]:
def temps_arret():
  somme=0
  n=1
  alpha=int(input("veuillez entrer un nombre : "))
  while somme<alpha:
    somme+=1/n
    n+=1
    print(somme)
  return n

print(temps_arret())

veuillez entrer un nombre : 2
1.0
1.5
1.8333333333333333
2.083333333333333
5

**max de la somme des nombre adjacent **

In [16]:
def max_two_value(a,b):
  if(a>b):
    return a
  else:
    return b

def addition(a,b):
  return a+b

def max_adjacent(T):
  T_tempo=[]
 
  for i in range(len(T)):
    if not len(T): #si le T est vide
      return 0
    elif len(T)==1:
      return T[i]
    elif len(T)==2:
      return max(T)
    elif len(T)>=3:
      res=max_two_value(T[i+1],addition(T[i],T[i+2]))
      T_tempo.append(T[0])
      T_tempo.append(res)
      print(T_tempo)
    return max(T_tempo)
T0=[]     
T1=[6]
T2=[9,2]
T3=[4,1,2]
T4=[7,10,12,7,9,14]

#application

#addition(1,3)
#max_two_value(6,1)


#max_adjacent(T0)
#max_adjacent(T1)
#max_adjacent(T2)
max_adjacent(T3)
max_adjacent(T4)

[4, 6]
[7, 19]

19

test exo quizz

In [6]:





#liste et ses fonctions natives : insert pop sorted max min 

s="hello world"

s[0]
s[5]

a=1.2
type(a) #float

type(s) #str


L=[1,'yyy',0.2]  #len => 3   -len(L)=>-3   L[-len(L)]=> on peut aussi accéder au premiere element
L[-1] #accés derniere element


#difference entre la methode pop() et remove

L.pop(1)  #=>renvoit l'element supprimer de la position (index) 1 !

L.append(0.2)

L.remove(0.2) #=> supprime la premiere occurence de 0.2 !

L.insert(0,"premier element") # insert(index, element)

print(L)
L[-len(L)] # renvoi egalement le premiere element

L2=["a","b","g","z","c"]
L3=[5,6,4,1,5,4,1,5]
L4=[5,6,4,1,5]
sorted(L4)  #L4.sort()




#fonction native dictionnaire  sorted len copy update keys values items  get

nb_roue = {"voiture": 4, "vélo": 2, "tricycle": 3}  #de type dic
print(type(nb_roue))
nb_roue.items() #affiche les couples clé valeur du dico

nb_roue["vélo"]
nb_roue.get("tricycle")


nb_roue2=nb_roue.copy()
nb_roue2.items()

nb_roue2[1]="new value"
nb_roue2.items()

del nb_roue["vélo"]
nb_roue.items()


nb_roue.update(nb_roue2)  #fusion des deux dico
nb_roue.items() 

nb_roue.keys() 

animaux={}
animaux["mamifere"]="chat"
animaux["reptiles"]="lezard"

for key,value in animaux.items():
  print(" clef : ",key," valeur : ",value)


#format pour les fonction

#def division():
#  try:
#    a=int(input="veuillez entrer un nombre")
#    b=int(input="veuillez entrer un 2 eme nombre\n")
#    print({" resultat {}/{}={"}.format(a,b,a/b)) 
#  except:
#    print("on ne peut pas diviser un nombre par 0")


#division()

my_list = ['apple', 'banana', 'grapes', 'pear']

y=enumerate(my_list)
print(list(y))


for index, value in enumerate(my_list):
    print(index, value)

['premier element', 1, 0.2]
<class 'dict'>
 clef :  mamifere  valeur :  chat
 clef :  reptiles  valeur :  lezard
[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]
0 apple
1 banana
2 grapes
3 pear